@import "globals/vars.scss";

$root: ".exchanger";

#{$root} {
  padding-top: 64px;
  padding-bottom: 126px;
  background-color: $background-grey;
  background: linear-gradient(to bottom, #f9f8f8 50%, #f0f0f0 50%);

  @media #{$mobile-widths} {
    padding-top: 25px;
    padding-bottom: 40px;
    order: -2;
  }

  &__reserve {
    gap: 5px;
  }

  &__logo {
    img {
      width: 142px;
    }

    @media #{$mobile-widths} {
      display: none;
    }
  }

  &__title {
    margin-bottom: 20px;

    @media #{$mobile-widths} {
      margin-bottom: 15px;
    }
  }

  &__sub-title {
    text-align: center;
    color: $secondary-content;

    @media #{$mobile-widths} {
      font-size: 16px;
    }
  }

  &__icon {
    margin-top: 80px;

    @media #{$mobile-widths} {
      margin-top: 14px;
    }
  }

  &__form {
    display: flex;
    margin-top: 42px;
    background-color: $white;
    border-radius: 24px;
    padding: 32px;
    flex-direction: column;
  }

  &__form-change {
    width: 100%;

    @media #{$mobile-widths} {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__form-bottom-info {
    display: flex;
    justify-content: space-between;

    @media #{$mobile-widths} {
      flex-direction: column;
    }
  }

  &__give,
  &__recieve {
    width: 45%;

    @media #{$mobile-widths} {
      width: 100%;
    }
  }

  &__name {
    color: $secondary-content;
    margin-bottom: 24px;
  }

  &__dropdown-toggle {
    background-color: $light-orange;
    border: 1px solid #fe7f3226;
    border-radius: 16px;
    padding: 12px 24px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
    cursor: pointer;

    @media #{$mobile-widths} {
      width: 100%;
    }
  }

  &__dropdown-name {
    gap: 12px;
  }

  &__input {
    background-color: $light-orange;
    border: 1px solid #fe7f3226;
    border-radius: 16px;
    padding: 12px 24px;
    width: 100%;
  }

  &__form-info {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    width: 45%;

    @media #{$mobile-widths} {
      width: auto;
      width: 100%;
      flex-direction: column;
    }
  }

  &__form-course {
    font-size: 14px;
    font-weight: 400;
    color: $secondary-content;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__form-sub-info {
    color: $tertiary-content;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__form-time {
    gap: 7px;
  }

  &__form-reserve {
    gap: 7px;

    @media #{$mobile-widths} {
      justify-content: space-between;
    }
  }

  &__reserve-button {
    border: none;
    background: transparent;
    color: $primary-orange;
  }

  &__continue {
    margin-top: 26px;
    width: 45%;

    @media #{$mobile-widths} {
      width: auto;
    }
  }
}
