$root: ".footer";

#{$root} {
  padding-inline: 20px;
  padding-top: 100px;
  padding-bottom: 35px;
  width: 100%;

  @media #{$small-mobile-widths} {
    padding-top: 50px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;

    @media #{$small-mobile-widths} {
      grid-template-columns: 1fr 1fr;
      gap: 32px 10px;
    }
  }

  &__about {
    color: #00000099;
    line-height: 24px;

    @media #{$small-mobile-widths} {
      display: flex;
      flex-direction: column;
      grid-column: span 2;
    }
  }

  &__about img {
    @media #{$small-mobile-widths} {
      width: 172px;
    }
  }

  &__serves {
    order: 3;
    opacity: 0.6;
  }

  &__schedule {
    padding-top: 36px;
    order: 2;
    opacity: 0.6;

    @media #{$small-mobile-widths} {
      padding-top: 16px;
      opacity: 1;
    }
  }

  &__sections {
    color: $secondary-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__sections-title {
    color: $primary-content;
    margin-bottom: 25px;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__contact-list {
    line-height: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media #{$small-mobile-widths} {
      font-size: 12px;
    }
  }

  &__contact-list li a {
    display: flex;
    gap: 8px;
    align-items: center;
    color: $primary-orange;
  }

  &__contact-info {
    color: $tertiary-content;
    font-size: 12px;
    line-height: 18px;
    max-width: 300px;
  }

  &__bottom {
    display: flex;
    margin-top: 27px;
    justify-content: space-between;

    @media #{$small-mobile-widths} {
      flex-direction: column;
    }
  }

  &__info {
    @media #{$small-mobile-widths} {
      order: 1;
    }
  }

  &__stroke-desktop {
    width: 100%;
    height: 2px;
    background-color: #fe80325c;
    margin-top: 27px;

    @media #{$small-mobile-widths} {
      display: none;
    }
  }

  &__stroke-mobile {
    width: 100%;
    height: 2px;
    background-color: #fe80325c;
    margin: 24px 0;
    order: 2;

    @media (min-width: 850px) {
      display: none;
    }
  }

  &__rules {
    color: $primary-orange;

    @media #{$small-mobile-widths} {
      order: 3;
    }
  }
}
