@import "globals/vars.scss";

$root: ".header";

#{$root} {
  background-color: #ffffff94;
  z-index: 3;
  position: relative;

  @media #{$mobile-widths} {
    background-color: $background-grey;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    @media (max-width: 1130px) {
      gap: 10px;
    }

    @media #{$mobile-widths} {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: calc(100dvh - 90px);
      transition: transform 0.3 ease;
    }
  }

  &__login {
    @media #{$mobile-widths} {
      display: none;
    }
  }

  &__mobile-buttons {
    display: none;

    img {
      cursor: pointer;
    }

    @media #{$mobile-widths} {
      display: flex;
      gap: 30px;
    }
  }

  &__burger {
    & > img {
      transition: transform 0.3s ease;
    }
  }

  &__menu-overlay {
    @media #{$mobile-widths} {
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #f7f7f7;
      display: none;
      padding: 0;
      z-index: 2;
    }
  }

  &__menu-overlay.active {
    display: flex;
  }

  &__menu-overlay.active .header__burger img {
    transform: rotate(45deg);
  }

  &__menu-overlay.active .menu-content {
    display: block;
  }

  &__ul {
    display: flex;
    gap: 44px;
    font-size: 16px;

    @media #{$mobile-widths} {
      display: block;
    }

    li {
      list-style: none;

      @media #{$mobile-widths} {
        font-size: 16px;
        line-height: 24px;
        color: $secondary-content;
        border-bottom: 1px solid #f0f0f0;
        padding-bottom: 16px;
        padding: 16px 20px;
      }

      & a:hover {
        color: $primary-orange;
        text-decoration: underline;
        text-underline-offset: 8px;
      }
    }
  }

  &__contact-list {
    display: none;

    @media #{$mobile-widths} {
      font-size: 16px;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding: 20px;
    }
  }

  &__contact-list-ul a {
    display: flex;
    gap: 8px;
    align-items: center;
    color: $primary-orange;
  }
}
