@import "globals/vars.scss";

$root: ".review";

#{$root} {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $background-grey;

  @media #{$mobile-widths} {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__main-block {
    display: flex;
    gap: 48px;
    margin-bottom: 48px;

    @media (max-width: 1130px) {
      gap: 20px;
      align-items: center;
    }
    @media #{$small-mobile-widths} {
      order: 3;
      flex-direction: column;
    }
  }

  &__main-block-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__img {
    background-color: $background-card-grey;
    border-radius: 24px;
    height: max-content;

    img {
      margin-bottom: -6px;
    }

    @media (max-width: 1130px) {
      img {
        width: 100%;
      }
    }
  }

  &__main-title {
    @media #{$small-mobile-widths} {
      font-size: 16px;
      line-height: 32px;
    }
  }
  &__main-subtitle {
    font-size: 32px;
    font-weight: 900;
    color: $primary-orange;

    @media #{$small-mobile-widths} {
      font-size: 24px;
    }
  }

  &__nav-list {
    margin-top: 27px;
  }

  &__nav-list-item {
    display: flex;
    gap: 8px;
    font-size: 16px;
    line-height: 20px;
    color: $secondary-content;
    margin-bottom: 10px;
    align-items: center;
  }

  &__nav-list-number {
    width: 30px;
    height: 30px;
    padding: 10px 14px;
    border-radius: 40px;
    background-color: $primary-orange;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
  }

  &__change-button {
    margin-top: 30px;
    padding: 12px 24px;
    width: fit-content;
    border-radius: 12px;

    @media #{$small-mobile-widths} {
      margin: 32px auto;
    }
  }

  &__small-cards {
    display: flex;
    gap: 48px;

    @media #{$mobile-widths} {
      gap: 20px;
    }
    @media #{$small-mobile-widths} {
      flex-direction: column;
    }
  }

  &__open-reviews {
    display: flex;
    margin: 0 auto;
    margin-top: 12px;

    @media #{$small-mobile-widths} {
      order: 2;
      margin: 32px auto;
    }
  }
}
