$root: ".success";

#{$root} {
  margin: 0 auto;
  padding: 80px 20px;
  display: flex;
  gap: 10px;

  @media #{$small-mobile-widths} {
    flex-direction: column;
    gap: 24px;
    padding: 40px 20px 20px 20px;
  }

  &__img {
    background-color: $background-card-light;
    border-radius: 24px;
    height: max-content;

    @media #{$small-mobile-widths} {
      display: flex;
      justify-content: center;
      background-color: #e8e8e8;
    }
  }

  &__text--hidden {
    display: none;
  }

  &__collapse-hidden {
    display: none;
  }

  &__collapse-mob {
    float: right;

    @media (min-width: 850px) {
      display: none;
    }
  }

  &__collapse-desk {
    @media #{$small-mobile-widths} {
      display: none;
    }
  }

  &__collapse {
    color: $primary-orange;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &__collapse-mobile {
    color: $primary-orange;
    border: none;
    background-color: transparent;

    @media #{$small-mobile-widths} {
      display: none;
    }
  }

  &__info {
    @media #{$small-mobile-widths} {
      order: 2;
    }
  }

  &__title {
    margin-bottom: 24px;
    text-align: left;

    @media #{$small-mobile-widths} {
      margin-bottom: 12px;
    }
  }

  &__text {
    line-height: 24px;
    color: $secondary-content;

    @media #{$small-mobile-widths} {
      font-size: 14px;
      line-height: 18px;
      margin-top: 14px;
    }
  }

  &__buttons {
    margin-top: 32px;
    display: flex;
    gap: 16px;

    @media #{$small-mobile-widths} {
      margin-top: 24px;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__more {
    width: fit-content;
  }

  &__signin {
    border-radius: 12px;
    padding: 12px 24px;
    width: fit-content;

    &:hover {
      transition: background-color 0.1s ease;
      background: linear-gradient(67.39deg, #ff4e4e -12.85%, #fca31b 47.54%);
    }
  }
}
