@import "globals/vars.scss";

$root: ".why";

#{$root} {
  padding-top: 90px;
  padding-bottom: 80px;

  @media #{$mobile-widths} {
    padding-top: 10px;
    padding-bottom: 40px;
  }

  &__cards {
    display: flex;
    gap: 48px;

    @media #{$mobile-widths} {
      gap: 15px;
      flex-direction: column;
    }
  }

  &__cardsContainer {
    margin-top: 64px;

    @media #{$mobile-widths} {
      margin-top: 24px;
    }
  }

  &__img {
    background-color: #f0f0f0;
    border-radius: 24px;
    margin-bottom: 48px;

    img {
      margin-bottom: -7px;
    }

    @media (max-width: 1130px) {
      img {
        width: 100%;
      }
    }
    @media #{$mobile-widths} {
      margin-bottom: 20px;
    }
  }
}
