<div class="instruction container">
  <div class="title">Инструкция по обмену</div>
  <div class="instruction__container">
    <article class="instruction__currency instruction__card">
      <div class="instruction__card-number">1</div>
      <div class="instruction__card-title">Выберите валюты</div>
      <div class="instruction__card-text">
        На главной странице выберите валюты, которые хотите обменять, и введите
        сумму. Это поможет вам узнать предварительный курс обмена. Нажмите
        “Продолжить”.
      </div>
    </article>
    <article class="instruction__data instruction__card">
      <div class="instruction__card-number">2</div>
      <div class="instruction__card-title">Введите данные</div>
      <div class="instruction__card-text">
        На странице заявки укажите: адрес криптокошелька, на который хотите
        получить выплату, или номер банковской карты; адрес электронной почты.
      </div>
    </article>
    <article class="instruction__approve instruction__card">
      <div class="instruction__card-number">3</div>
      <div class="instruction__card-title">Подтвердите данные</div>
      <div class="instruction__card-text">
        Убедитесь, что все данные верно заполнены, и нажмите кнопку “Обменять”.
        В случае, если вы заполнили данные неверно, на следующем этапе можно
        отменить заявку. 
      </div>
    </article>
    <article class="instruction__pay instruction__card">
      <div class="instruction__card-number">4</div>
      <div class="instruction__card-title">Оплатите заявку</div>
      <div class="instruction__card-text">
        В течение 30 минут нажмите “Перейти к оплате” и переведите точную сумму
        в заявке по указанному адресу. Воспользуйтесь QR-кодом для быстрого и
        безопасного перевода.
      </div>
    </article>
    <article class="instruction__exchange instruction__card">
      <div class="instruction__card-number">5</div>
      <div class="instruction__card-title">Дождитесь завершения обмена</div>
      <div class="instruction__card-text">
        После оплаты заявки дождитесь, пока транзакция обработается. Мы выплатим
        средства на ваши реквизиты в течение 1 часа. Если транзакция не
        завершится в течение 3 часов, напишите в службу поддержки.
      </div>
    </article>
  </div>
</div>
