<div class="questions">
  <div class="questions__title title">Часто задаваемые вопросы</div>
  <div class="questions__container">
    <div class="questions__question">
      <div class="questions__item">
        По каким правилам осуществляется обмен на вашем сайте???
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <ul class="questions__answer">
        Условия обмена криптовалют на Сбербанк (RUB):
        <li class="questions__li">
          Курс в заявке фиксируется после получения первого подтверждения в
          сети.
        </li>
        <li class="questions__li">
          Все входящие активы получают оценку риска, проходя AML-проверку.
        </li>
        <li class="questions__li">
          Мы не принимаем криптовалюту, ранее использовавшуюся на
          даркнет-площадках, в игровых сервисах, криптомиксерах, а также на
          бирже Garantex.
        </li>
        <li class="questions__li">
          Если сумма полученных нами активов будет меньше минимальной суммы
          обмена, выполнение заявки будет приостановлено. Вам также будет
          отказано в возврате средств.
        </li>
        <li class="questions__li">
          Выплаты осуществляются только на карты Сбербанк (RUB) в ручном режиме
          по регламенту пользовательского соглашения.
        </li>
        <li class="questions__li">
          Процесс выплаты занимает от 5 минут до 3 часов. Иногда заявки
          обрабатываются в течение 24 часов. Если выплата задерживается,
          обращайтесь в техническую поддержку CoinCross по контактам, указанным
          внизу главной страницы.
        </li>
      </ul>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Где взять номер заявки для обращения в поддержку?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        После формирования заявки, ваш ID заявки появится наверху экрана, под
        этапами обмена. Его необходимо скопировать и отправить в службу нашей
        технической поддержки в случае возникновения непредвиденных ситуаций.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Что делать, если я не успел оплатить заявку вовремя?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        Заявки, созданные на сайте, автоматически удаляются по истечении срока
        оплаты (30 минут). Если ваша заявка была удалена по ошибке, свяжитесь с
        нашей технической поддержкой на сайте.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        По ошибке отправил деньги не на тот адрес. Что делать?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        К сожалению, денежные средства, отправленные на ошибочный адрес, не
        могут поступить к нам на счет, поэтому мы не сможем произвести выплату
        на вашу карту. Пожалуйста, пользуйтесь QR-кодом для оплаты заявки и
        перепроверяйте адрес кошелька, на который вы отдаете средства,
        полностью. Мы не сможем помочь вам, если вы отправите средства на
        ошибочный адрес.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Как быть, если мою заявку отменили, а средства мне не вернули?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        Если транзакция в сети не получила необходимого количества
        подтверждений, обмен будет отменен, а средства для вашего обмена будут
        сняты с резерва. Для возврата средств обратитесь в нашу техническую
        поддержку на сайте и назовите ID заявки.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Я оплатил заявку, но обмен до сих пор не завершен. Когда ждать обмен?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <ul class="questions__answer">
        Заявка считается оплаченной тогда, когда транзакция получает
        определенное количество подтверждений в блокчейне. Количество
        необходимых подтверждений зависит от конкретной криптовалюты, которую вы
        хотите обменять. 
        <p class="questions__change">
          Обычно на обмен требуется от <span>5 до 60 минут</span> в зависимости
          от различных блокчейнов. Скорость подтверждения транзакции зависит не
          от нашего обменника, а от работы сети и комиссии, которую вы
          оплачиваете при отправке средств на наш адрес.
        </p>
        <p class="questions__change">
          В целом выплаты по заявкам осуществляются в пределах от 5 минут до 3
          часов. Если вы оплатили заявку и убедились в том, что транзакция
          успешно завершилась, но при этом вы не получили средства на карту,
          обратитесь в техническую поддержку по контактам, указанным внизу
          данной страницы, и назовите ID заявки. Мы обрабатываем обращения с
          10:00 до 22:00 мск.
        </p>
      </ul>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Я хочу отменить обмен. Как можно вернуть деньги?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        Осуществить возврат средств можно только в том случае, если они поступят
        в наши резервы. Обратитесь в техническую поддержку, чтобы обсудить
        возможность возврата, и назовите ID заявки.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Что делать, если я прислал больше/меньше денег по заявке, чем должен
        был?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        Если вы прислали больше средств, чем необходимо, ваш обмен будет
        обработан автоматически на сумму, указанную в заявке. Мы не корректируем
        сумму обмена в автоматическом режиме. Для возврата разницы обратитесь в
        техническую поддержку по контактам, указанным на сайте.  Заявка, по
        которой вы отправите меньше средств, чем необходимо для минимальной
        суммы обмена, будет отменена.
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Что такое AML?
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        <p class="questions__aml">
          <span>AML (Anti-Money Laundering)</span> — это процесс противодействия
          отмыванию денег, который представляет собой набор процедур и
          технологий, направленных на предотвращение использования криптовалют в
          нелегальных целях.
        </p>
        <p class="questions__aml">
          <span>Проверка AML</span> — это анализ источников поступающих на
          криптокошелек средств и оценка показателя риск-скор. <br />
          Риск-скор представляет собой процентную оценку риска в диапазоне от 0
          до 100. Она учитывает историю поступлений на криптовалютный адрес,
          вероятность его связи с незаконной деятельностью, поведенческие
          паттерны пользователя, а также доступную информацию о самом адресе,
          его ассоциированных кластерах и владельце. Если риск-скор превышает
          70, сделка по обмену может быть приостановлена.
        </p>
      </div>
    </div>
    <div class="questions__question">
      <div class="questions__item">
        Режим работы обменника и техподдержки
        <img class="questions__array" src="./i/arrow-grey.svg" alt="" />
      </div>
      <div class="questions__answer">
        Обменник работает в автоматическом режиме круглосуточно, однако
        техническая поддержка доступна только с 10 до 22 по московскому времени.
        В случае возникновения проблемы или ошибки вы сможете обратиться только
        в данное время, и мы оперативно решим возникшие вопросы.
      </div>
    </div>
  </div>
</div>
