<div class="support container">
  <div class="support__title title">Появились вопросы по обмену?</div>
  <div class="support__text">
    Пишите в техническую поддержку, и мы поможем вам решить любую проблему
  </div>
  <div class="card-socials">
    <a href="mailto:support@coincross.one" target="_blank" class="card-socials--icon"><img src="./i/socials/mail.svg" alt="" /></a>
    <a href="tg://resolve?domain=future_channel" target="_blank" class="card-socials--icon"><img src="./i/socials/tg.svg" alt="" /></a>
    <a href="https://www.instagram.com/future-instagram" target="_blank" class="card-socials--icon"><img src="./i/socials/inst.svg" alt="" /></a>
    <a href="https://api.whatsapp.com/send?phone=phone-number" target="_blank" class="card-socials--icon"><img src="./i/socials/whatsapp.svg" alt="" /></a>
    <a href="https://www.facebook.com/future_facebook" target="_blank" class="card-socials--icon"><img src="./i/socials/fb.svg" alt="" /></a>
  </div>
</div>
