<div class="form container">
  <div>
    <div class="form__top">
      <div class="form__title fw-6">О нас пишут на сайте</div>
      <div class="form__point">
        Средняя оценка
        <div class="form__stars">
          <img src="./i/star.svg" alt="" />
          <img src="./i/star.svg" alt="" />
          <img src="./i/star.svg" alt="" />
          <img src="./i/star.svg" alt="" />
          <img src="./i/star.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="form__cards">
      <article class="card-review">
        <div class="card-review--top">
          <img src="./i/stars.svg" alt="stars" />
          <div class="card-review--date">25 мая</div>
        </div>
        <div class="card-review__info">
          “Отличный сервис обмена криптовалют! Быстрая и безопасная транзакция,
          хороший обменный курс. Рекомендую!
        </div>
        <div class="card-review__name">Сергей</div>
      </article>
      <article class="card-review">
        <div class="card-review--top">
          <img src="./i/stars.svg" alt="stars" />
          <div class="card-review--date">25 мая</div>
        </div>
        <div class="card-review__info">
          “Надежный и проверенный сервис обмена криптовалют. Уже несколько раз
          воспользовался и всегда остался доволен результатом
        </div>
        <div class="card-review__name">Дмитрий</div>
      </article>
      <article class="card-review">
        <div class="card-review--top">
          <img src="./i/stars.svg" alt="stars" />
          <div class="card-review--date">25 мая</div>
        </div>
        <div class="card-review__info">
          “Cупер! Спасибо за Вашу работу, очень быстро и удобно. Cупер! Спасибо
          за Вашу работу,очень быстро и удобно.
        </div>
        <div class="card-review__name">Алексей</div>
      </article>
      <article class="card-review">
        <div class="card-review--top">
          <img src="./i/stars.svg" alt="stars" />
          <div class="card-review--date">25 мая</div>
        </div>
        <div class="card-review__info">
          “Cупер! Спасибо за Вашу работу, очень быстро и удобно. Cупер! Спасибо
          за Вашу работу,очень быстро и удобно.
        </div>
        <div class="card-review__name">Алексей</div>
      </article>
    </div>
  </div>
  <div class="form__write">
    <div class="form__title">Оставить отзыв</div>
    <div class="form__review">
      <div class="form__input">
        <label for="name">Введите имя*</label>
        <input
          type="text"
          id="name"
          class="name-input"
          placeholder="Иван Иванов"
        />
      </div>
      <div class="form__input">
        <label for="name">Напишите отзыв*</label>
        <textarea
        rows="10" cols="50"
          type="text"
          id="name"
          class="form__review-input"
          placeholder="Пару слов о работе нашего обменника. Спасибо!"
        ></textarea>
      </div>
      <button class="form__button b-default">Оставить отзыв</button>
    </div>
  </div>
</div>
