<section class="review">
  <div class="review__container container">
    <div class="review__title title">Отзывы о нас</div>
    <div class="review__main-block">
      <div class="review__img"><img src="./i/review-card.png" alt="" /></div>
      <div class="review__main-block-info">
        <div class="review__main-title text">
          Оставьте отзыв на обмен и получите шанс <br />
          выиграть <span class="review__main-subtitle">30 USDT</span>
        </div>
        <ul class="review__nav-list">
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">1</div>
            <div>Совершите любой обмен на CoinCross</div>
          </li>
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">2</div>
            <div>
              Оставьте подтвержденный отзыв на партнерском мониторинге или нашем
              сайте
            </div>
          </li>
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">3</div>
            <div>
              Проверьте, чтобы email в заявке и оставленном отзыве совпадали
            </div>
          </li>
        </ul>
        <a href="/" class="review__change-button b-default">Совершить обмен</a>
      </div>
    </div>
  </div>
</section>
