<div class="sites container">
  <div class="sites__title">Отзывы на других сайтах</div>
  <div class="sites__container">
    <div class="sites__card">
      <img class="sites__card-img" src="./i/socials/yandex.svg" alt="" />
      <a href="/" class="sites__card-link">Перейти к отзывам</a>
    </div>
    <div class="sites__card">
      <img class="sites__card-img sites__card-img-2" src="./i/socials/exchenge.png" alt="" />
      <a href="/" class="sites__card-link">Перейти к отзывам</a>
    </div>
    <div class="sites__card">
      <img class="sites__card-img sites__card-img-3" src="./i/socials/bestchange.png" alt="" />
      <a href="/" class="sites__card-link">Перейти к отзывам</a>
    </div>
  </div>
</div>
