<section class="advantages container">
  <div class="title">Наши преимущества</div>
  <div class="advantages__cards">
    <article class="card-why advantages__main">
      <div class="advantages__info">
        <img src="./i/icons/check.svg" alt="Card" class="card-why--img" />
        <div class="advantages__text">
          <div class="card-why--title advantages__title">Безопасность</div>
          <div class="card-why--text">
            Наш обменник работает на современном надежном ПО и проверенных
            скриптах, поэтому ваши средства всегда будут под защитой
          </div>
        </div>
      </div>
      <div class="advantages__img"><img src="./i/safety.png" alt=""></div>
    </article>
    <article class="card-why">
      <img src="./i/icons/coins.svg" alt="Card" class="card-why--img" />
      <div>
        <div class="card-why--title advantages__maintext">Выгода</div>
        <div class="card-why--text advantages__subtext">
          Первые месяцы предлагаем самые низкие комиссии на рынке и специальные
          предложения для всех клиентов!
        </div>
      </div>
    </article>
    <article class="card-why">
      <img src="./i/icons/clock.svg" alt="Card" class="card-why--img" />
      <div>
        <div class="card-why--title advantages__maintext">Оперативность</div>
        <div class="card-why--text advantages__subtext">
          Наша служба техподдержки работает в бесперебойном режиме чтобы
          ответить на любые ваши вопросы
        </div>
      </div>
    </article>
    <article class="card-why">
      <img src="./i/icons/star.svg" alt="Card" class="card-why--img" />
      <div>
        <div class="card-why--title advantages__maintext">Отличные отзывы</div>
        <div class="card-why--text advantages__subtext">
          Мы — новые игроки на рынке, поэтому стремимся качественно выполнять
          свою работу и завоевывать доверие
        </div>
      </div>
    </article>
  </div>
</section>
