<section class="card-generation container m-2 order-2">
  <div class="card-generation-container">
    <div>
      <div class="card-generation-title title">
        CoinCross — это криптообменник нового поколения
      </div>
      <div class="card-generation-text text">
        Зарегистрируйтесь на Coincross сегодня и откройте для себя удобство и
        безопасность покупки и продажи криптовалюты с надежным партнером.
        <!-- текст, если авторизован: 
        Присоединяйтесь к программе лояльности, совершайте криптообмен на более выгодных условиях и получайте вознаграждение до 0,5% за каждый обмен -->
      </div>
    </div>
    <div>
      <div class="card-generation-buttons">
        <a href="/" class="card-generation-button-more">Зарегистрироваться
          <!-- Подробнее о программе -->
        </a>
      </div>
    </div>
  </div>
</section>
