<section class="card-generation container my-2 -order-2">
  <div class="card-generation__container">
    <div>
      <div class="card-generation__title text-align title">
        CoinCross — это криптообменник нового поколения
      </div>
      <div class="card-generation__text text">
        Зарегистрируйтесь на Coincross сегодня и откройте для себя удобство и
        безопасность покупки и продажи криптовалюты с надежным партнером.
        <!-- текст, если авторизован: 
        Присоединяйтесь к программе лояльности, совершайте криптообмен на более выгодных условиях и получайте вознаграждение до 0,5% за каждый обмен -->
      </div>
    </div>
    <div>
      <div class="card-generation__buttons">
        <a href="/" class="card-generation__button-more">Зарегистрироваться
          <!-- Подробнее о программе -->
        </a>
      </div>
    </div>
  </div>
</section>
