<div class="support">
    <div class="support__title title">По вопросам, связанными 
        с обменом или работой CoinCross</div>
    <div class="support__text">
        обращайтесь в нашу поддержку по указанным контактам с 10:00 до 22:00 по мск:
    </div>
    <div class="card-socials">
      <a href="mailto:support@coincross.one" target="_blank" class="card-socials--icon"><img src="./i/socials/mail.svg" alt="" /></a>
      <a href="tg://resolve?domain=future_channel" target="_blank" class="card-socials--icon"><img src="./i/socials/tg.svg" alt="" /></a>
      <a href="https://www.instagram.com/future-instagram" target="_blank" class="card-socials--icon"><img src="./i/socials/inst.svg" alt="" /></a>
      <a href="https://api.whatsapp.com/send?phone=phone-number" target="_blank" class="card-socials--icon"><img src="./i/socials/whatsapp.svg" alt="" /></a>
      <a href="https://www.facebook.com/future_facebook" target="_blank" class="card-socials--icon"><img src="./i/socials/fb.svg" alt="" /></a>
    </div>
  </div>