@import "globals/vars.scss";

$root: ".sites";

#{$root} {
  padding-top: 60px;

  @media #{$mobile-widths} {
    padding-top: 0px;
    padding-bottom: 50px;
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    @media #{$small-mobile-widths} {
      text-align: center;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
    }
  }

  &__container {
    display: flex;
    gap: 48px;
    margin-top: 24px;

    @media #{$mobile-widths} {
      gap: 30px;
    }
    @media #{$small-mobile-widths} {
      gap: 20px;
      flex-direction: column;
    }
  }

  &__card {
    background-color: $white;
    padding-bottom: 42px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 15px;
    width: 100%;
    box-shadow: 0px 4px 20px 0px #4a4a4a12;
    height: 184px;

    @media #{$small-mobile-widths} {
      padding-bottom: 32px;
      height: 165px;
    }
  }

  &__card-link {
    font-size: 16px;
    line-height: 22px;
    color: $primary-orange;

    @media #{$small-mobile-widths} {
      font-size: 12px;
    }
  }

  &__card-img {
    width: 160px;
    @media #{$small-mobile-widths} {
      width: 140px;
    }

    &-2 {
      width: 225px;

      @media #{$small-mobile-widths} {
        width: 200px;
      }
    }
    &-3 {
      width: 225px;

      @media #{$small-mobile-widths} {
        width: 200px;
      }
    }
  }
}
