<div class="exchanger">
  <div class="exchanger__container">
    <div class="exchanger__title">Короли на рынке криптообмена</div>
    <div class="exchanger__subTitle">Надежно, быстро, анонимно</div>
    <form class="exchanger__form">
      <div class="exchanger__formChange">
        <div class="exchanger__give">
          <div class="exchanger__name">Вы отдаете</div>
          <div>
            <button class="exchanger__dropdownToggle">
              <div><img src="./i/coins/ether.svg" />Hello</div>
              <img src="./i/arrow-down.svg" />
            </button>
            <input type="text" class="exchanger__input" />
          </div>
        </div>
        <div class="exchanger__icon">
          <img src="./i/change.svg" alt="" />
        </div>
        <div class="exchanger__recieve">
          <div class="exchanger__name">Вы получаете</div>
          <div>
            <button class="exchanger__dropdownToggle">
              <div><img src="./i/coins/sber.svg" />Hello</div>
              <img src="./i/arrow-down.svg" />
            </button>
            <input type="text" class="exchanger__input" />
          </div>
        </div>
      </div>
      <div class="exchanger__formBottomInfo">
        <div class="exchanger__formInfo">
          <div class="exchanger__formCourse">
            <div>Курс: 1 USDT = 69,06 RUB</div>
            <div class="exchanger__logo">
              <img src="./i/logo.svg" alt="" />
            </div>
          </div>
          <div class="exchanger__formSubInfo">
            <div class="exchanger__formTime">
              <img src="./i/clock.svg" alt="" />Время обмена до 60 минут
            </div>
            <div class="exchanger__formReserve">
              <div class="exchanger__reserve">
                <img src="./i/coins.svg" alt="" />Резерв 12 324 DAI
              </div>
              <button>Не хватает?</button>
            </div>
          </div>
        </div>
        <div class="exchanger__continue">
          <button>Продолжить</button>
        </div>
      </div>
    </form>
  </div>
</div>
