<section class="exchanger">
  <div class="container">
    <div class="exchanger__title title">Короли на рынке криптообмена</div>
    <div class="exchanger__sub-title text">Надежно, быстро, анонимно</div>
    <form class="exchanger__form">
      <div class="exchanger__form-change flex flex-jc-sb">
        <div class="exchanger__give">
          <div class="exchanger__name text">Вы отдаете</div>
          <div>
            <button class="exchanger__dropdown-toggle text">
              <div class="exchanger__dropdown-name flex"><img src="./i/coins/ether.svg" />Hello</div>
              <img src="./i/arrow-down.svg" />
            </button>
            <input type="text" class="exchanger__input text" />
          </div>
        </div>
        <div class="exchanger__icon">
          <img src="./i/change.svg" alt="" />
        </div>
        <div class="exchanger__recieve">
          <div class="exchanger__name text">Вы получаете</div>
          <div>
            <button class="exchanger__dropdown-toggle text">
              <div class="exchanger__dropdown-name flex"><img src="./i/coins/sber.svg" />Hello</div>
              <img src="./i/arrow-down.svg" />
            </button>
            <input type="text" class="exchanger__input text" />
          </div>
        </div>
      </div>
      <div class="exchanger__form-bottom-info">
        <div class="exchanger__form-info">
          <div class="exchanger__form-course">
            <div>Курс: 1 USDT = 69,06 RUB</div>
            <div class="exchanger__logo">
              <img src="./i/logo.svg" alt="" />
            </div>
          </div>
          <div class="exchanger__form-sub-info">
            <div class="exchanger__form-time flex">
              <img src="./i/clock.svg" alt="" />Время обмена до 60 минут
            </div>
            <div class="exchanger__form-reserve flex">
              <div class="exchanger__reserve flex">
                <img src="./i/coins.svg" alt="" />Резерв 12 324 DAI
              </div>
              <button class="exchanger__reserve-button">Не хватает?</button>
            </div>
          </div>
        </div>
        <div class="exchanger__continue">
          <button class="b-default">Продолжить</button>
        </div>
      </div>
    </form>
  </div>
</section>
