<section class="card-generation container">
  <div class="card-generation__container">
    <div>
      <div class="card-generation__title text-align title">
        CoinCross — это криптообменник нового поколения
      </div>
      <div class="card-generation__text text">
        Принимайте участие в партнерской программе и получай
        <span class="fw-6"> вознаграждение до 0,5% за каждый обмен</span>
      </div>
    </div>
    <div>
      <div class="card-generation__info">
        А также присоединяйтесь к нашему сообществу в Telegram!
      </div>
      <div class="card-generation__buttons">
        <a href="/" class="card-generation__button-more"
          >Подробнее о программе</a
        >
        <a
          href="tg://resolve?domain=future_channel"
          class="card-generation__button-tg"
          >Перейти в Telegram</a
        >
      </div>
    </div>
  </div>
</section>
