<section class="reserve">
  <div class="reserve__title title">Резервы CoinCross</div>
  <div class="reserve__marquee">
    <div class="reserve__marquee--inner">
      <div class="reserve__coin-container">
        <div class="reserve__coins">
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/alpha.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">132 354,432</div>
              <div class="reserve__coinName">АльфаБанк (RUB)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/sber.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Сбербанк (RUB)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
        </div>
        <div class="reserve__coins2">
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/bitcoin.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Bitcoin (BTS)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/ether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Ether (ETH)</div>
            </div>
          </div>
        </div>
        <div class="reserve__coins">
          <div class="reserve__coinContainer">
            <img src="./i/coins/dai.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">DAI (DAI)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/ether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">Ether (ETH)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/usd.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">USD (USDC)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="reserve__coin-container">
        <div class="reserve__coins">
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/alpha.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">132 354,432</div>
              <div class="reserve__coinName">АльфаБанк (RUB)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/sber.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Сбербанк (RUB)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
        </div>
        <div class="reserve__coins2">
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/bitcoin.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Bitcoin (BTS)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/ether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,4236</div>
              <div class="reserve__coinName">Ether (ETH)</div>
            </div>
          </div>
        </div>
        <div class="reserve__coins">
          <div class="reserve__coinContainer">
            <img src="./i/coins/dai.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">DAI (DAI)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/ether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">Ether (ETH)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/tether.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">1 354,423</div>
              <div class="reserve__coinName">Tether (USDT)</div>
            </div>
          </div>
          <div class="reserve__coinContainer">
            <img src="./i/coins/usd.svg" alt="coin" class="reserve__coin" />
            <div>
              <div class="reserve__coinPrice">435,423</div>
              <div class="reserve__coinName">USD (USDC)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
