<div class="review">
  <div class="review__container">
    <div class="review__title">Отзывы о нас</div>
    <div class="review__main-block">
      <div class="review__img"><img src="./i/review-card.svg" alt="" /></div>
      <div class="review__main-block-info">
        <div class="review__main-title">
          Оставьте отзыв на обмен и получите шанс <br />
          выиграть <span class="review__main-subtitle">30 USDT</span>
        </div>
        <ul class="review__nav-list">
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">1</div>
            <div>Совершите любой обмен на CoinCross</div>
          </li>
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">2</div>
            <div>
              Оставьте подтвержденный отзыв на партнерском мониторинге или нашем
              сайте
            </div>
          </li>
          <li class="review__nav-list-item">
            <div class="review__nav-list-number">3</div>
            <div>
              Проверьте, чтобы email в заявке и оставленном отзыве совпадали
            </div>
          </li>
        </ul>
        <a href="/" class="review__change-button">Совершить обмен</a>
      </div>
    </div>
    <div class="review__small-cards">
      <div class="review__single-card">
        <div class="review__single-card-top">
          <div><img src="./i/stars.svg" alt="stars" /></div>
          <div>25 мая</div>
        </div>
        <div class="review__single-card-info">
          “Отличный сервис обмена криптовалют! Быстрая и безопасная транзакция,
          хороший обменный курс. Рекомендую!
        </div>
        <div class="review__single-card-name">Сергей</div>
      </div>
      <div class="review__single-card">
        <div class="review__single-card-top">
          <div><img src="./i/stars.svg" alt="stars" /></div>
          <div>25 мая</div>
        </div>
        <div class="review__single-card-info">
          “Надежный и проверенный сервис обмена криптовалют. Уже несколько раз
          воспользовался и всегда остался доволен результатом
        </div>
        <div class="review__single-card-name">Дмитрий</div>
      </div>
      <div class="review__single-card">
        <div class="review__single-card-top">
          <div><img src="./i/stars.svg" alt="stars" /></div>
          <div>25 мая</div>
        </div>
        <div class="review__single-card-info">
          “Cупер! Спасибо за Вашу работу, очень быстро и удобно. Cупер! Спасибо
          за Вашу работу,очень быстро и удобно.
        </div>
        <div class="review__single-card-name">Алексей</div>
      </div>
    </div>
    <a href="/" class="review__open-reviews">Все отзывы</a>
  </div>
</div>
