<section class="share">
  <div class="share__container">
    <a href="tg://resolve?domain=future_channel" class="share__card">
      <div class="share__content">
        <div class="share__text">
          Присоединяйтесь к нашему
          <span class="share__subText">Telegram-каналу CoinCross</span>
        </div>
      </div>
      <img src="./i/tg.svg" alt="Card Image" class="share__image" />
    </a>
    <a href="/" class="share__card">
      <div class="share__content">
        <div class="share__text">
          Оставьте свой отзыв на платформе —
          <span class="share__subText">выиграй 30 USDT</span>
        </div>
      </div>
      <img src="./i/review.svg" alt="Card Image" class="share__image" />
    </a>
    <a href="tg://resolve?domain=future_channel" class="share__card">
      <div class="share__content">
        <div class="share__text">
          Рекламируйте свой криптопроект с
          <span class="share__subText">Good Marketing</span>
        </div>
      </div>
      <img src="./i/advert.svg" alt="Card Image" class="share__image" />
    </a>
  </div>
</section>
<section class="slider">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="tg://resolve?domain=future_channel" class="share__card">
          <div class="share__content">
            <div class="share__text">
              Присоединяйтесь к нашему
              <span class="share__subText">Telegram-каналу CoinCross</span>
            </div>
          </div>
          <img src="./i/tg.svg" alt="Card Image" class="share__image" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/" class="share__card">
          <div class="share__content">
            <div class="share__text">
              Оставьте свой отзыв на платформе —
              <span class="share__subText">выиграй 30 USDT</span>
            </div>
          </div>
          <img src="./i/review.svg" alt="Card Image" class="share__image" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="tg://resolve?domain=future_channel" class="share__card">
          <div class="share__content">
            <div class="share__text">
              Рекламируйте свой криптопроект с
              <span class="share__subText">Good Marketing</span>
            </div>
          </div>
          <img src="./i/advert.svg" alt="Card Image" class="share__image" />
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>
