<section class="success container">
  <div class="success__info">
    <div class="success__title title">Ваш успех в инвестициях начинается здесь!</div>
    <button class="success__collapse success__collapse-hidden success__collapse-mob">
      Свернуть
    </button>
    <div class="success__text">
      Зарегистрируйтесь на Coincross сегодня и откройте для себя удобство и
      безопасность покупки и продажи криптовалюты с надежным партнером!
    </div>
    <div class="success__buttons">
      <button class="success__signin b-default">Зарегистрироваться</button>
      <button class="b-orange success__more">Подробнее про CoinCross</button>
      <button class="success__collapse success__collapse-hidden success__collapse-desk">
        Свернуть
      </button>
    </div>
  </div>
  <div class="success__img"><img src="./i/success.svg" alt="" /></div>
</section>
