<section class="why">
  <div class="container">
    <div class="title">Почему выбирают нас?</div>
    <div class="why__cards-container">
      <div class="why__img"><img src="./i/whywe.svg" alt="" /></div>
      <div class="why__cards">
        <article class="card-why">
          <img src="./i/crown.svg" alt="Card" class="card-why__img" />
          <div>
            <div class="card-why__title">100% гарантия</div>
            <div class="card-why__text">
              Наша команда готова решить любые проблемы и ответить на ваши
              вопросы в чате поддержки
            </div>
          </div>
        </article>
        <article class="card-why">
          <img src="./i/pig.svg" alt="Card" class="card-why__img" />
          <div>
            <div class="card-why__title">Экономичный обмен</div>
            <div class="card-why__text">
              Предлагаем самый выгодный обмен валюты на рынке для наших клиентов
            </div>
          </div>
        </article>
        <article class="card-why">
          <img src="./i/B.svg" alt="Card" class="card-why__img" />
          <div>
            <div class="card-why__title">Множество вариантов</div>
            <div class="card-why__text">
              Обменивайте десятки видов электронных валют и узнавайте их
              стоимость в реальном времени
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
