<footer class="footer">
  <div class="footer__container">
    <div class="footer__about">
      <img src="./i/logo.svg" alt="" />
      <div class="footer__serves">© Сервис обмена криптовалют</div>
      <div class="footer__schedule">
        Пн-пт — 10:00 - 22:00 <br />Сб—Вс свободный график
      </div>
    </div>
    <ul class="footer__sections">
      <li class="footer__sections-title">Разделы</li>
      <li class="footer__sections-list"><a href="/">Как обменять?</a></li>
      <li class="footer__sections-list"><a href="/">Блог</a></li>
      <li class="footer__sections-list"><a href="/">О нас</a></li>
      <li class="footer__sections-list"><a href="/">Отзывы</a></li>
      <li class="footer__sections-list">
        <a href="/">Партнерская программа</a>
      </li>
      <li class="footer__sections-list"><a href="/">Карта сайта</a></li>
    </ul>
    <div class="footer__contact">
      <div class="footer__contact-title">Контакты</div>
      <ul class="footer__contact-list">
        <li>
          <a target="_blank" href="mailto:support@coincross.one"
            ><img src="./i/contact-mail.svg" alt="" />support@coincross.one</a
          >
        </li>
        <li>
          <a target="_blank" href="mailto:info@coincross.one"
            ><img src="./i/contact-info.svg" alt="" />info@coincross.one</a
          >
        </li>
        <li>
          <a target="_blank" href="tg://resolve?domain=future_channel"
            ><img src="./i/contact-tg.svg" alt="" />CoinCrossBot</a
          >
        </li>
      </ul>
      <div class="footer__contact-info">
        Настоящим мы уведомляем Пользователей сайта CoinCross о том, что при
        владении цифровыми активами, а также при осуществлении операций с
        цифровыми активами имеется риск потери личных финансовых средств.
      </div>
    </div>
  </div>
  <div class="footer__stroke-desktop"></div>
  <div class="footer__bottom">
    <div class="footer__info">
      © 2023 CoinCross — криптообменник нового поколения
    </div>
    <div class="footer__stroke-mobile"></div>
    <a class="footer__rules" href="/"
      >Правила использования и пользовательское соглашение</a
    >
  </div>
</footer>
