<div class="generation">
  <div class="generation__container">
    <div>
      <div class="generation__title">
        CoinCross — это криптообменник нового поколения
      </div>
      <div class="generation__text">
        Принимайте участие в партнерской программе и получай
        <span class="generation__subtext">
          вознаграждение до 0,5% за каждый обмен</span
        >
      </div>
    </div>
    <div>
      <div class="generation__info">
        А также присоединяйтесь к нашему сообществу в Telegram!
      </div>
      <div class="generation__buttons">
        <a href="/" class="generation__button-more">Подробнее о программе</a>
        <a href="tg://resolve?domain=future_channel" class="generation__button-tg">Перейти в Telegram</a>
      </div>
    </div>
  </div>
</div>
