<header class="header">
  <div class="header__container">
    <a href="/"><img src="./i/logo.svg" alt="" /></a>
    <nav class="header__nav">
      <ul>
        <li>
          <a href="page2.html" id="page2-link">Как обменять?</a>
        </li>
        <li><a href="/">О нас</a></li>
        <li><a href="/">Отзывы</a></li>
        <li><a href="/">Партнерская программа</a></li>
      </ul>
    </nav>
    <button class="header__login">Вход и регистрация</button>
    <div class="header__mobButtons">
      <button><img src="./i/user.svg" alt="" /></button>
      <button class="header__burger">
        <img src="./i/burger.svg" alt="" />
      </button>
    </div>
  </div>
</header>

<div class="header__menu-overlay">
  <div class="header__menu-content">
    <ul class="header__ul">
      <li><a href="/">Как обменять?</a></li>
      <li><a href="/">О нас</a></li>
      <li><a href="/">Отзывы</a></li>
      <li><a href="/">Партнерская программа</a></li>
    </ul>
    <ul class="header__contact-list">
      <li>
        <a href="mailto:support@coincross.one"
          ><img src="./i/contact-mail.svg" alt="" />support@coincross.one</a
        >
      </li>
      <li>
        <a href="mailto:info@coincross.one"
          ><img src="./i/contact-info.svg" alt="" />info@coincross.one</a
        >
      </li>
      <li>
        <a href="tg://resolve?domain=future_channel"
          ><img src="./i/contact-tg.svg" alt="" />CoinCrossBot</a
        >
      </li>
    </ul>
  </div>
</div>
