<div class="partners">
  <div class="partners__title">Наши партнеры</div>
  <div class="partners__container partners__desktop">
    <div class="partners__coins">
      <img src="./i/partners/sumo.svg" alt="" />
      <img src="./i/partners/crypto.svg" alt="" />
      <img src="./i/partners/okchanger.svg" alt="" />
      <img src="./i/partners/bitforum.svg" alt="" />
    </div>
    <div class="partners__coins partners__coins2">
      <img src="./i/partners/ramp.svg" alt="" />
      <img src="./i/partners/best-change.svg" alt="" />
      <img src="./i/partners/altcoin.svg" alt="" />
    </div>
    <div class="partners__coins">
      <img src="./i/partners/beer.svg" alt="" />
      <img src="./i/partners/expert.svg" alt="" />
      <img src="./i/partners/softweb.svg" alt="" />
      <img src="./i/partners/best-free.svg" alt="" />
    </div>
  </div>


  <div class="partners__marquee partners__mobile">
    <div class="partners__marquee--inner">
      <div class="partners__container">
        <div class="partners__coins">
          <img src="./i/partners/sumo.svg" alt="" />
          <img src="./i/partners/crypto.svg" alt="" />
          <img src="./i/partners/okchanger.svg" alt="" />
          <img src="./i/partners/bitforum.svg" alt="" />
        </div>
        <div class="partners__coins partners__coins2">
          <img src="./i/partners/ramp.svg" alt="" />
          <img src="./i/partners/best-change.svg" alt="" />
          <img src="./i/partners/altcoin.svg" alt="" />
          <img src="./i/partners/beer.svg" alt="" />
        </div>
        <div class="partners__coins">
          <img src="./i/partners/beer.svg" alt="" />
          <img src="./i/partners/expert.svg" alt="" />
          <img src="./i/partners/softweb.svg" alt="" />
          <img src="./i/partners/best-free.svg" alt="" />
        </div>
      </div>
      <div class="partners__container">
        <div class="partners__coins">
          <img src="./i/partners/sumo.svg" alt="" />
          <img src="./i/partners/crypto.svg" alt="" />
          <img src="./i/partners/okchanger.svg" alt="" />
          <img src="./i/partners/bitforum.svg" alt="" />
        </div>
        <div class="partners__coins partners__coins2">
          <img src="./i/partners/ramp.svg" alt="" />
          <img src="./i/partners/best-change.svg" alt="" />
          <img src="./i/partners/altcoin.svg" alt="" />
          <img src="./i/partners/beer.svg" alt="" />
        </div>
        <div class="partners__coins">
          <img src="./i/partners/beer.svg" alt="" />
          <img src="./i/partners/expert.svg" alt="" />
          <img src="./i/partners/softweb.svg" alt="" />
          <img src="./i/partners/best-free.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
