<div class="why">
  <div class="why__container">
    <div class="why__title">Почему выбирают нас?</div>
    <div class="why__cardsContainer">
      <div class="why__img"><img src="./i/whywe.svg" alt="" /></div>
      <div class="why__cards">
        <div class="why__card-choose">
          <img src="./i/crown.svg" alt="Card" class="cardChoose__image" />
          <div class="why__content">
            <div class="why__card-title">100% гарантия</div>
            <div class="why__card-text">
              Наша команда готова решить любые проблемы и ответить на ваши
              вопросы в чате поддержки
            </div>
          </div>
        </div>
        <div class="why__card-choose">
          <img src="./i/pig.svg" alt="Card" class="cardChoose__image" />
          <div class="why__content">
            <div class="why__card-title">Экономичный обмен</div>
            <div class="why__card-text">
              Предлагаем самый выгодный обмен валюты на рынке для наших клиентов
            </div>
          </div>
        </div>
        <div class="why__card-choose">
          <img src="./i/B.svg" alt="Card" class="cardChoose__image" />
          <div class="why__content">
            <div class="why__card-title">Множество вариантов</div>
            <div class="why__card-text">
              Обменивайте десятки видов электронных валют и узнавайте их
              стоимость в реальном времени
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
