@use "sass:math";

$white: #ffffff;
$primary-black: #16161c;

$dark-main: #26262c;
$dark-grey: #585858;
$tertiary-grey: #868686;
$disabled-grey: #d6d6d6;
$background-grey: #d8d8d8;
$background-grey: #f9f8f8;

$primary-orange: #fe7f32;
$gradient-orange: linear-gradient(58.74deg, #ff4e4e -10.52%, #fca31b 120.85%);
$light-orange: #fff9f5;